/*------------------------------------------------Main body*/
body {
    background: url(/images/london_skyview.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*------------------------------------------------Map Section*/
.mainHeader {
    color: white;
    font-weight: bold;
    font-size: 3em;
}

.mapText {
    color: white;
    font-weight: 400;
}

.and-link {
    color: #E95420;
}

#map {
    height: 400px;
    width: 100%;
}


/*------------------------------------------------MediaQueries*/

@media only screen and (max-width: 425px) {
.mainHeader {
    color: white;
    font-weight: lighter;
    font-size: 2.5em;
}
}